.container{
    text-align: center;
    width:500px;
    height:360px;
    border:1px solid #4973b1;
    padding-top:10px;
    background:#F5F7F9;
    border-radius:20px;
    color:#496d97;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
}

.mb{
    display: block;
    width: 90%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    height: calc(1.5em + .75rem + 2px);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

h1{
    font-size: 1.8em;
}

button, input {
    margin: 0;
    font-family: 'Gill Sans' , sans-serif;
    overflow: visible;
}

.check{
   text-align: left;
   margin-top: 2rem;
}

button{
    color: white;
    padding: 10px 20px;
    border: none;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    margin-top: 1rem!important;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: linear-gradient(to right, #504186, #3b70ac);
    font-weight: 700;
    box-shadow: 3px 3px rgb(54 52 52 / 40%);
    transition: 0.4s ease-out;
}

button:hover{
    box-shadow: 1px 1px rgba(87, 81, 81, 0.6);
}
.mb-3 {
    margin-top: 2rem!important;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}